@media (min-width: 900px) {
  .beauty__heading {
    max-width: 500px;
  }

  .beauty__portfolio_link {
    margin-block-start: 28px;
    margin-block-end: 16px;
  }

  .beauty__images_container {
    display: flex;
    flex-direction: column;
  }

  .beauty__image--rock_carving_md {
    width: 100%;
  }

  .beauty__image--dunes_sm,
  .beauty__image--arches_sm,
  .beauty__image--car_sm,
  .beauty__image--sunset_sm,
  .beauty__image--canyon_sm {
    display: block;
  }

  .beauty__images_navigation_container {
    display: flex;
    margin: 0;
  }

  .beauty__images_navigation_list-item:not(:nth-child(1)) {
    margin-inline-start: 10px;
  }

  .beauty__image {
    width: 100%;
  }

  .beauty__navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 64px;
    column-gap: 64px;
    margin-block-start: 72px;
  }

  .carve {
    margin-block-start: -24px;
  }
}