@import "variables";

.beauty {
  padding: $paragraph_font_size;
}

.beauty__header {
  display: flex;
  flex-direction: column-reverse;
}

.beauty__heading {
  margin: 0;
}


.beauty__portfolio_link::before {
  content: url('../icons/icon_arrow_left.svg');
  margin-inline-end: $paragraph_font_size;
}

.beauty__portfolio_link {
  margin-block-end: 61px;
  margin-block-start: 12px;
}

.beauty__link {
  text-decoration: none;
  color: $text-color;
}

.beauty__description {
  font-size: 18px;
}

.beauty__content {
  margin-block-start: 65px;
  margin-block-end: 82px;
}

.beauty__figure {
  margin: 0;
}

.beauty__image--rock_carving_md {
  border-radius: 5px;
  width: 100%;
}

.beauty__image {
  width: 170px;
  border-radius: 5px;
}

.beauty__image {
  opacity: 0.5;
}
.active {
  opacity: 1;
}

.beauty__images_navigation_container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin: 0;
}

.beauty__images_navigation_container::-webkit-scrollbar {
  display: none;
}

.beauty__images_navigation_list-item:not(:nth-child(1)) {
  margin-inline-start: 16px;
}


.beauty__image--ripples_half {
  height: 100px;
}

.beauty__navigation {
  margin-block-start: 68px;
}

.beauty__information_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;
  grid-column-gap: 64px;
  column-gap: 64px;
  grid-row-gap: 4px;
  row-gap: 4px;
}

.beauty__list_item p:nth-of-type(1) {
  color: $text-color;
}

.beauty__actual_date,
.beauty__country,
.beauty__photo,
.beauty__number {
  font-weight: 700;
}