@import "variables";

.beauty {
  padding: $paragraph_font_size;
}

.beauty__header {
  display: flex;
  flex-direction: column-reverse;
}


.beauty__portfolio_link::before {
  content: url('../icons/icon_arrow_left.svg');
  margin-inline-end: $paragraph_font_size;
}

.beauty__link {
  text-decoration: none;
  color: $text-color;
}

.beauty__description {
  font-size: 18px;
}

.beauty__content {
  margin-block-end: 82px;
}

.beauty__figure {
  margin: 0;
}

.beauty__image--rock_carving_md {
  border-radius: 5px;
  width: 100%;
}

.beauty__image {
  width: 200px;
  border-radius: 5px;
}

.beauty__images_navigation_container {
  display: flex;
  flex-direction: row;
}

.beauty__images_navigation_container {
  overflow-x: auto;
}

.beauty__images_navigation_list-item:not(:nth-child(1)) {
  margin-inline-start: 16px;
}


.beauty__image--ripples_half {
  height: 100px;
}

.beauty__navigation {
  margin-block-start: 76px;
}

.beauty__information_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: $gap;
  column-gap: $gap;
}

.beauty__list_item p:nth-of-type(1) {
  color: $text-color;
}

// .beauty__list_item--date {
//   grid-row: 1 / 2;
//   grid-column: 1 / 2;
// }

// .beauty__list_item--location {
//   grid-row: 1 / 2;
//   grid-column: 2 / 3;
// }

// .beauty__list_item--camera {
//   grid-row: 2 / 3;
//   grid-column: 1 / 2;
// }

.beauty__list_item--lens {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.beauty__actual_date,
.beauty__country,
.beauty__photo,
.beauty__number {
  font-weight: 700;
}