@import "variables";

.carve {
  padding: $paragraph_font_size;
}

.carve__information {
  margin-block-start: 0;
  margin-block-end: 38px;
  font-size: 18px;
}

.carve__small_text {
  font-size: $paragraph_font_size;
  color: $text-color;
}

.carve__navigation_container {
  margin-block-start: 55px;
  display: flex;
  margin-block-end: 46px;
}

.carve__list_item:not(:nth-of-type(1)) {
  margin-inline-start: 10px;
}