@import "variables";

.carve {
  padding-block: $paragraph_font_size;
}

.carve__heading {
  margin-block-start: 10px;
}

.carve__information {
  margin-block-start: 29px;
  margin-block-end: 32px;
  font-size: 18px;
}

.carve__small_text {
  font-size: $paragraph_font_size;
  color: $text-color;
}

.carve__navigation_container {
  margin-block-start: 48px;
  display: flex;
  margin-block-end: 40px;
}

.carve__list_item:not(:nth-of-type(1)) {
  margin-inline-start: 10px;
}

@media (max-width: 900px) {
  .carve__navigation_container {
    margin-block-end: 70px;
  }
}