html {
  background-color: whitesmoke;
}

h2 {
  font-size: 54px;
}

h3 {
  font-size: 40px;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  font-size: 18px;
}

small {
  font-size: 16px;
}

footer {
  background-color: white;
}

a {
  text-decoration: none;
}