@import "variables";

html {
  background-color: ghostwhite;
  font-family: "DM Sans";
  font-size: $paragraph_font_size;
}

body {
  font-size: 16px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display";
  font-weight: normal;
  margin: 0;
}

h2 {
  font-size: 52px;
}

h3 {
  font-size: 40px;
}

ul {
  list-style: none;
  padding: 0;
}

small {
  font-size: $paragraph_font_size;
}

footer {
  background-color: $color_white;
}

a {
  text-decoration: none;
}

a:hover {
  color: purple;
}

@media (min-width: 900px) {
  section > * {
    max-width: $max-width;
    margin-inline-start: $margin-auto;
    margin-inline-end: $margin-auto;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 72px;
  }

  h3 {
    font-size: 52px;
  }

  h4 {
    font-size: calc($gap / 2);
  }
}