@import "variables";

html {
  background-color: ghostwhite;
  font-family: "DM Sans";
  font-size: $paragraph_font_size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display";
  font-weight: normal;
}

h2 {
  font-size: 54px;
}

h3 {
  font-size: 40px;
}

ul {
  list-style: none;
  padding: 0;
}

small {
  font-size: $paragraph_font_size;
}

footer {
  background-color: white;
}

a {
  text-decoration: none;
}

@media (min-width: 768px) {
  section > * {
    max-width: $max-width;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 72px;
  }

  h3 {
    font-size: 52px;
  }

  h4 {
    font-size: 24px;
  }
}