@font-face {
  font-family: "DM Serif Display";
  src: url("../fonts/DMSerifDisplay-Regular.woff2") format("woff2"),
        url("../fonts/DMSerifDisplay-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans-Regular.woff2") format("woff2"),
        url("../fonts/DMSans-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "DM Sans Bold";
  src: url("../fonts/DMSans-Bold.woff2") format("woff2"),
        url("../fonts/DMSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}