@font-face {
  font-family: "DM Serif Display";
  src: local("DM Serif Display");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "DM Sans";
  src: local("DM Sans");
  font-style: normal;
  font-weight: 400;
}