.photograf {
  padding: 16px;
}

.photograf__heading {
  font-size: 24px;
  text-transform: uppercase;
  margin-block-start: 43px;
}

.photograf__information {
  color: rgba(0, 0, 0, 0.5);
}

.photograf__navigation_container {
  display: flex;
}

.photograf__list_item {
  margin-block-start: 16px;
}

.photograf__list_item:not(.photograf__list_item--facebook) {
  margin-inline-start: 10px;
}

.photograf__links_navigation {
  margin-block-start: 62px;
}

.photograf__links_list:not(.photograf__links_list--about) {
  margin-block-start: 16px;
}

.photograf__links_list--about {
  margin-block-start: 24px;
}

.photograf__link {
  color: rgba(0, 0, 0, 0.5);
}

.photograf__link--home {
  color: black;
  font-weight: bold;
}

.photograf__date_navigation {
  margin-block-start: 77px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.photograf__date_list {
  display: flex;
  flex-direction: row;
}

.woman,
.passage {
  max-width: 77px;
  max-height: 48px;
  border-radius: 5px;
}

.photograf__content {
  margin-inline-start: 32px;
}

.photograf__taste_description,
.photograf__experience_place {
  color: rgba(0, 0, 0, 0.5);
}

.photograf__date_list--place {
  margin-block-start: 16px;
  margin-block-end: 53px;
}

.photograf__date {
  font-size: 12px;
  font-weight: bold;
}

.photograf__copyright {
  margin-block-start: 32px;
  color: rgba(0, 0, 0, 0.5);
}