@media (min-width: 768px) {
  .footer > * {
    max-width: $max-width;
    margin-inline-start: $margin-auto;
    margin-inline-end: $margin-auto;
  }

  .photograf {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .photograf__container {
    max-width: 256px;
  }

  .photograf__links_navigation {
    margin-inline-start: $gap;
  }

  .photograf__links_list:nth-of-type(1) {
    margin-block-start: -10px;
  }

  .photograf__date_list--taste {
    margin-block-start: -20px;
  }

  .photograf__copyright {
    display: flex;
    justify-content: space-between;
    padding: 80px;
  }

  .photograf__writer,
  .photograf__reliesed_year {
    margin-block-start: -50px;
  }
}