@import "variables";

.photograf {
  padding: $paragraph_font_size;
  padding-block-start: 76px;
  padding-inline-start: $padding_inline_start;
  padding-inline-end: $padding_inline_end;
}

.photograf__heading {
  font-size: 24px;
  text-transform: uppercase;
  margin-block-start: 0px;
  margin-block-end: 20px;
}

.photograf__information {
  color: $text-color;
}

.photograf__navigation_container {
  display: flex;
  margin-block-start: 8px;
}

.photograf__list_item {
  margin-block-start: $paragraph_font_size;
}

.photograf__list_item:not(.photograf__list_item--facebook) {
  margin-inline-start: 10px;
}

.photograf__links_navigation {
  margin-block-start: 70px;
}

.photograf__links_list:not(.photograf__links_list--about) {
  margin-block-start: 8px;
}

.photograf__links_list--about {
  margin-block-start: 20px;
}

.photograf__link {
  color: $text-color;
}

.photograf__link--home {
  color: $color_black;
  font-weight: bold;
}

.photograf__date_navigation {
  margin-block-start: 75px;
  margin-block-end: 23px;
}

.photograf__date_list {
  display: flex;
  flex-direction: row;
}

.woman,
.passage {
  max-width: 77px;
  max-height: $gap;
  border-radius: 5px;
}

.photograf__content {
  margin-inline-start: $margin-inline;
}

.photograf__taste_description,
.photograf__experience_place {
  color: $text-color;
}

.photograf__date_list--place {
  margin-block-start: $paragraph_font_size;
}

.photograf__date {
  font-size: 12px;
  font-weight: 700;
}

.photograf__copyright {
  margin-block-start: $paragraph_font_size;
  color: $text-color;
  border-top: 1px solid lightgray;
  padding: $paragraph_font_size;
}

.photograf__writer {
  margin-block-start: 0px;
}