// .masthead {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   background-color: $primary_color;
//   padding-inline: 14px;
//   padding-block-start: $margin-inline;
//   padding-block-end: $paragraph_font_size;
// }

// .masthead__header {
//   margin: 0;
//   text-transform: uppercase;
//   color: $color_white;
//   margin-block-start: -10px;
// }

// .masthead__label_menu {
//   color: transparent;
//   margin-inline-end: -48px;
// }

// .masthead__label_menu::before {
//   content: url('../icons/icon_menu.svg');
//   margin-inline-end: $paragraph_font_size;

// }

// .masthead__navigation {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: -250px;
//   width: 200px;
//   z-index: 1;

// }

// .masthead__list_item {
//   margin-block-start: $paragraph_font_size;
// }

// .masthead__link {
//   text-decoration: none;
//   color: gray;
// }

// [type="checkbox"] {
//   display: none;
// }

// // [type="checkbox"]:checked ~ .masthead__navigation {
// //   position: absolute;
// //   text-align: center;
// //   top: 8px;
// //   bottom: 0;
// //   left: 0;
// //   width: 90%;
// //   z-index: 1;
// //   background-color: white;
// //   transform: translateX(0);
// // }

// .masthead__navigation {
//   margin-block-start: 64px;
//   padding: 48px;
//   max-width: 300px;
//   margin-inline-start: auto;
//   margin-inline-end: auto;
//   text-align: center;
//   border-radius: 5px;
//   background-color: white;
//   display: block;
// }

// .modal {
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.3);
//   opacity: 0;
//   visibility: hidden;
// }
// .modal-box {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background-color: pink;
//   padding: 1rem 1.5rem;
//   width: 24rem;
//   border-radius: 0.5rem;
// }
// .close-button {
//   float: right;
//   width: 1.5rem;
//   line-height: 1.5rem;
//   text-align: center;
//   cursor: pointer;
//   border-radius: 0.25rem;
//   color: white;
//   margin-block-start: -88px;
//   margin-inline-end: 16px;
// }


.masthead {
  background-color: $primary_color;
}
.masthead__container {
  display: inline;
}

@media (max-width: 600px) {
  .masthead {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0;
  } 

  .masthead__container {
      margin: 0;
      display: block;
      padding-block: 0;
      margin: 16px;
  }
  
  .masthead__header {
      margin: 0;
      color: white;
  }
  
  .masthead__header > img {
      width: 200px;
  }
  
  .masthead__menu {
      margin-block-start: 8px;
      display: block;
      margin-inline-end: 90px;
  }
  
  .masthead__label_menu {
      display: block;
      cursor: pointer;
      color: transparent;
      margin-inline-end: -64px;
      opacity: 1;
      visibility: visible;
      transform: scale(1);
  }
  
  .masthead__link {
      padding-block-end: 32px;
  }
  
  .masthead__label_menu::before {
      content: url('../icons/icon-hamburger.svg');
      position: absolute;
      top: 5%;
      left: 93%;
  }

  .masthead__navigation_container {
      display: flex;
      flex-direction: column;
      margin-block-start: 0;
  }
  
  .masthead__navigation {
      margin-block-start: 64px;
      padding: 48px;
      max-width: 300px;
      margin-inline-start: auto;
      margin-inline-end: auto;
      text-align: center;
      border-radius: 5px;
      background-color: white;
      display: block;
  }
  
  .masthead__list_item {
      margin-block-start: 16px;
  }
  
  input[type="checkbox"] {
      display: none;
  }

  .masthead__link {
      color: hsl(233, 8%, 62%);
  }
  
  .masthead__bttn {
      display: none;
  }

  .modal {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      visibility: hidden;
    }
    .modal-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: pink;
      padding: 1rem 1.5rem;
      width: 24rem;
      border-radius: 0.5rem;
    }
    .close-button {
      float: right;
      width: 1.5rem;
      line-height: 1.5rem;
      text-align: center;
      cursor: pointer;
      border-radius: 0.25rem;
      color: white;
      margin-block-start: -88px;
      margin-inline-end: 16px;
    }
    
    .masthead__label_menu {
      opacity: 1;
      visibility: visible;
      transform: scale(1.0);
    }
}
