@media (max-width: 900px) {
  .masthead {
      padding: 16px;
      display: contents;
      margin: 0;
  }

  .masthead__container {
      margin: 0;
      display: block;
      padding-block: 0;
      margin: 16px;
  }

  .masthead__header {
    padding-inline-start: 14px;
    margin-block-start: 16px;
  }

  .masthead__menu {
      margin-block-start: 24px;
      margin-inline-end: 32px;
      margin-block-end: -2px;
  }

  .masthead__label_menu {
      cursor: pointer;
      color: transparent;
      margin-inline-end: -48px;
  }

  .masthead__label_menu::before {
      content: url('../icons/icon-hamburger.svg');
  }

  .masthead__navigation_container {
      display: block;
  }

  .masthead__navigation {
      margin-block-start: 134px;
      padding: 48px;
      background-color: lightgray;
      text-align: center;
      max-width: 250px;
      border-radius: 5px;
      margin-inline-start: auto;
      margin-inline-end: auto;
  }
  
  .masthead__navigation_container {
    display: flex;
    flex-direction: column;
  }

  .masthead__list_item {
      margin-block-start: 16px;
  }

  .masthead__list_item:not(:nth-child(1)) {
      margin-inline-start: 0;
  }

  input[type="checkbox"] {
      display: none;
  }

  .masthead__bttn {
      display: none;
  }
  
  .modal {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.3);
      opacity: 0;
      visibility: hidden;
    }

    .modal.masthead__label_menu::before {
      content: ' ';
    }

    .modal-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 1rem 1.5rem;
      width: 24rem;
      border-radius: 0.5rem;
    }

    .close-button {
      float: right;
      width: 32px;
      line-height: 1.5rem;
      text-align: center;
      cursor: pointer;
      border-radius: 0.25rem;
      margin-block-start: -102px;
      margin-inline-end: 16px;
    }
    
    .masthead__label_menu {
      opacity: 1;
      visibility: visible;
      transform: scale(1.0);
    }
}