@media (min-width: 768px) {
  .masthead {
    padding-block: 28px;
  }

  .masthead__container > div {
    max-width: $max-width;
    margin-inline-start: auto;
    margin-inline-end: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .masthead__navigation {
    width: 0;
    // left: 0;
    margin-inline-end: 102px;
  }

  .masthead__list_item {
    margin-inline-start: 16px;
  }

  .masthead__label_menu::before {
    display: none;
  }

  .masthead__navigation {
    position: relative;
  }

  .masthead__navigation_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      // margin-inline-start: 80vw;
  }

  .masthead__link {
    color: $color_white;
  }

}

// @media (min-width: 1000px) {
//   .masthead__navigation_container {
//     margin-inline-start: 78vw;
//   }
// }