input[type="checkbox"] {
  display: none;
}

.masthead__container {
  background-color: #434CCC;
  color: white;
  margin: 0;
}

.masthead__content {
  max-width: $max-width;
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.masthead__header {
  text-transform: uppercase;
  line-height: 48px;
  padding-block: 16px;
}

.masthead__link {
  color: white;
  font-weight: 700;
  line-height: 24px;
}

.masthead__bttn_container {
  margin-block-start: 8px;
}

@media (min-width: 900px) {
  .masthead__menu {
    display: none;
  }

  .masthead__navigation_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-start: 16px;
  }

  .masthead__list_item:not(:nth-child(1)) {
    margin-inline-start: 32px;
  }

  .close-button {
    display: none;
  }
}

@media (min-width: 767px) {
  .masthead__navigation_container {
    transform: translateX(-15px);
  }
}