.paragraf {
  padding: 16px;
}

.paragraf__heading {
  font-size: 24px;
  text-transform: uppercase;
  margin-block-start: 43px;
}

.paragraf__information {
  color: rgba(0, 0, 0, 0.5);
}

.paragraf__navigation_container {
  display: flex;
}

.paragraf__list_item {
  margin-block-start: 16px;
}

.paragraf__list_item:not(.paragraf__list_item--facebook) {
  margin-inline-start: 10px;
}

.paragraf__links_navigation {
  margin-block-start: 62px;
}

.paragraf__links_list:not(.paragraf__links_list--about) {
  margin-block-start: 16px;
}

.paragraf__links_list--about {
  margin-block-start: 24px;
}

.paragraf__link {
  color: rgba(0, 0, 0, 0.5);
}

.paragraf__link--home {
  color: black;
  font-weight: bold;
}

.paragraf__date_navigation {
  margin-block-start: 77px;
}

.woman,
.passage {
  max-width: 77px;
  max-height: 48px;
  border-radius: 5px;
}

.paragraf__taste_description,
.paragraf__experience_place {
  margin-inline-start: 24px;
}

.paragraf__date {
  margin-inline-start: 110px;
  font-size: 12px;
  font-weight: bold;
}