@import "variables";

@media (min-width: 900px) {
  .updating__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 164px;
    column-gap: 164px;
    max-width: $max-width;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  .updating__category {
    margin-block-start: 60px;
  }


  .updating__form {
    display: flex;
    margin-block-start: 90px;
    margin-block-end: 100px;
  } 

  #email {
    padding: 12px;
    padding-inline-end: 100px;
  }

  .updating__subscribe_bttn {
    margin-inline-start: 54px;
    margin-block-start: 72px;
  }
}