@import "variables";

.updating {
  background-color: #FFDD78;
  padding: $paragraph_font_size;
}

.container {
  display: flex;
  flex-direction: column-reverse;
}

.updating__heading {
  margin-block-start: 0;
}

.updating__category {
  margin-block-start: 47px;
  text-transform: uppercase;
}

.form_container {
  display: flex;
  flex-direction: column;
}

label {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

#email {
  margin-block-start: $paragraph_font_size;
  padding: 12px;
  border-radius: 5px;
  border: none;
}

#email:focus {
  background-color: powderblue;
}

.updating__subscribe_bttn {
  margin-block-start: $paragraph_font_size;
  padding-inline: 48px;
  padding-block: $paragraph_font_size;
  border-radius: 5px;
  color: white;
  background-color: $primary_color;
  border: none;
  margin-block-end: 38px;
}

.updating__subscribe_bttn:hover {
  transform: scale(1.1);
  border: 1px solid white;
  box-shadow: 2px 2px 2px tomato;
}

@media screen and (min-width: 768px), (max-width: 1000px) {
  .updating__subscribe_bttn {
    height: 48px;
    margin-block-start: 80px;
  }
}