@import "variables";

@media (min-width: 768px) {
  .updating {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .updating__header {
    max-width: 500px;
    margin-block-start: 29px;
  }

  .updating__form {
    display: flex;
    margin-block-start: 116px;
    margin-block-end: 100px;
  } 

  #email {
    padding: $paragraph_font_size;
    padding-inline-end: 100px;
  }

  .updating__subscribe_bttn {
    margin-inline-start: $margin-inline;
    margin-block-start: 48px;
  }
}