$paragraph_font_size: 16px;
$primary_color: #434ccc;
$text-color: rgba(0, 0, 0, 0.5);
$color_black: black;
$color_white: white;
$margin-inline: 32px;
$max-width: 1170px;
$margin-auto: auto;
$gap: 48px;