@font-face {
  font-family: "DM Serif Display";
  src: local("DM Serif Display");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "DM Sans";
  src: local("DM Sans");
  font-style: normal;
  font-weight: 400; }

html {
  background-color: ghostwhite;
  font-family: "DM Sans";
  font-size: 16px; }

body {
  font-size: 18px;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display";
  font-weight: normal;
  margin: 0; }

h2 {
  font-size: 52px; }

h3 {
  font-size: 40px; }

ul {
  list-style: none;
  padding: 0; }

small {
  font-size: 16px; }

footer {
  background-color: white; }

a {
  text-decoration: none; }

a:hover {
  color: purple; }

@media (min-width: 900px) {
  section > * {
    max-width: 1170px;
    margin-inline-start: auto;
    margin-inline-end: auto; }
  h1 {
    font-size: 40px; }
  h2 {
    font-size: 72px; }
  h3 {
    font-size: 52px; }
  h4 {
    font-size: calc($gap / 2); } }

@media (max-width: 900px) {
  .masthead {
    padding: 16px;
    display: contents;
    margin: 0; }
  .masthead__container {
    margin: 0;
    display: block;
    padding-block: 0;
    margin: 16px; }
  .masthead__menu {
    margin-block-start: 32px;
    margin-inline-end: 32px; }
  .masthead__label_menu {
    cursor: pointer;
    color: transparent;
    margin-inline-end: -48px; }
  .masthead__label_menu::before {
    content: url("../icons/icon-hamburger.svg"); }
  .masthead__navigation_container {
    display: block; }
  .masthead__navigation {
    margin-block-start: 134px;
    padding: 48px;
    background-color: lightgray;
    text-align: center;
    max-width: 250px;
    border-radius: 5px;
    margin-inline-start: auto;
    margin-inline-end: auto; }
  .masthead__navigation_container {
    display: flex;
    flex-direction: column; }
  .masthead__list_item {
    margin-block-start: 16px; }
  .masthead__list_item:not(:nth-child(1)) {
    margin-inline-start: 0; }
  input[type="checkbox"] {
    display: none; }
  .masthead__bttn {
    display: none; }
  .modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden; }
  .modal.masthead__label_menu::before {
    content: ' '; }
  .modal-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem; }
  .close-button {
    float: right;
    width: 32px;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    margin-block-start: -102px;
    margin-inline-end: 16px; }
  .masthead__label_menu {
    opacity: 1;
    visibility: visible;
    transform: scale(1); } }

input[type="checkbox"] {
  display: none; }

.masthead__container {
  background-color: #434CCC;
  color: white;
  margin: 0; }

.masthead__content {
  max-width: 1170px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.masthead__header {
  text-transform: uppercase; }

.masthead__link {
  color: white;
  font-weight: 700; }

.masthead__bttn_container {
  margin-block-start: 8px; }

@media (min-width: 900px) {
  .masthead__menu {
    display: none; }
  .masthead__navigation_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-block-start: 16px; }
  .masthead__list_item:not(:nth-child(1)) {
    margin-inline-start: 32px; }
  .close-button {
    display: none; } }

@media (min-width: 767px) {
  .masthead__navigation_container {
    margin-block-start: paragraph_font_size; } }

.beauty {
  padding: 16px; }

.beauty__header {
  display: flex;
  flex-direction: column-reverse; }

.beauty__heading {
  margin: 0; }

.beauty__portfolio_link::before {
  content: url("../icons/icon_arrow_left.svg");
  margin-inline-end: 16px; }

.beauty__portfolio_link {
  margin-block-end: 61px; }

.beauty__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5); }

.beauty__description {
  font-size: 18px; }

.beauty__content {
  margin-block-start: 65px;
  margin-block-end: 82px; }

.beauty__figure {
  margin: 0; }

.beauty__image--rock_carving_md {
  border-radius: 5px;
  width: 100%; }

.beauty__image {
  width: 170px;
  border-radius: 5px; }

.beauty__image {
  opacity: 0.5; }

.active {
  opacity: 1; }

.beauty__images_navigation_container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin: 0; }

.beauty__images_navigation_container::-webkit-scrollbar {
  display: none; }

.beauty__images_navigation_list-item:not(:nth-child(1)) {
  margin-inline-start: 16px; }

.beauty__image--ripples_half {
  height: 100px; }

.beauty__navigation {
  margin-block-start: 76px; }

.beauty__information_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: max-content;
  grid-column-gap: 64px;
  column-gap: 64px;
  grid-row-gap: 4px;
  row-gap: 4px; }

.beauty__list_item p:nth-of-type(1) {
  color: rgba(0, 0, 0, 0.5); }

.beauty__actual_date,
.beauty__country,
.beauty__photo,
.beauty__number {
  font-weight: 700; }

@media (min-width: 900px) {
  .beauty__heading {
    max-width: 500px; }
  .beauty__portfolio_link {
    margin-block-start: 28px;
    margin-block-end: 16px; }
  .beauty__images_container {
    display: flex;
    flex-direction: column; }
  .beauty__image--rock_carving_md {
    width: 100%; }
  .beauty__image--dunes_sm,
  .beauty__image--arches_sm,
  .beauty__image--car_sm,
  .beauty__image--sunset_sm,
  .beauty__image--canyon_sm {
    display: block; }
  .beauty__images_navigation_container {
    display: flex;
    margin: 0; }
  .beauty__images_navigation_list-item:not(:nth-child(1)) {
    margin-inline-start: 10px; }
  .beauty__image {
    width: 100%; }
  .beauty__navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 64px;
    column-gap: 64px;
    margin-block-start: 72px; }
  .carve {
    margin-block-start: -24px; } }

.carve {
  padding-block: 16px; }

.carve__information {
  margin-block-start: 29px;
  margin-block-end: 32px;
  font-size: 18px; }

.carve__small_text {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5); }

.carve__navigation_container {
  margin-block-start: 48px;
  display: flex;
  margin-block-end: 64px; }

.carve__list_item:not(:nth-of-type(1)) {
  margin-inline-start: 10px; }

.updating {
  background-color: #FFDD78;
  padding: 16px; }

.container {
  display: flex;
  flex-direction: column-reverse; }

.updating__heading {
  margin-block-start: 0; }

.updating__category {
  margin-block-start: 47px;
  text-transform: uppercase;
  font-size: 16px; }

.form_container {
  margin-block-start: 44px;
  display: flex;
  flex-direction: column; }

label {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold; }

#email {
  margin-block-start: 12px;
  padding-block-start: 13px;
  padding-block-end: 11px;
  padding-inline-start: 16px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 400; }

::placeholder {
  color: gray;
  font-size: 16px; }

#email:focus {
  background-color: powderblue; }

.updating__subscribe_bttn {
  margin-block-start: 16px;
  padding-inline: 48px;
  padding-block-start: 13px;
  padding-block-end: 11px;
  border-radius: 5px;
  color: white;
  background-color: #434ccc;
  border: none;
  margin-block-end: 38px;
  font-size: 16px;
  font-weight: 700; }

@media screen and (min-width: 768px), (max-width: 1000px) {
  .updating__subscribe_bttn {
    height: 48px; } }

@media (min-width: 900px) {
  .updating__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 164px;
    column-gap: 164px;
    max-width: 1170px;
    margin-inline-start: auto;
    margin-inline-end: auto; }
  .updating__category {
    margin-block-start: 60px; }
  .updating__form {
    display: flex;
    margin-block-start: 90px;
    margin-block-end: 100px; }
  #email {
    padding: 12px;
    padding-inline-end: 100px; }
  .updating__subscribe_bttn {
    margin-inline-start: 54px;
    margin-block-start: 46px; } }

.photograf {
  padding: 16px;
  padding-block-start: 76px; }

.photograf__heading {
  font-size: 24px;
  text-transform: uppercase;
  margin-block-start: 0px;
  margin-block-end: 20px; }

.photograf__information {
  color: rgba(0, 0, 0, 0.5); }

.photograf__navigation_container {
  display: flex;
  margin-block-start: 0; }

.photograf__list_item {
  margin-block-start: 16px; }

.photograf__list_item:not(.photograf__list_item--facebook) {
  margin-inline-start: 10px; }

.photograf__links_navigation {
  margin-block-start: 79px; }

.photograf__links_list:not(.photograf__links_list--about) {
  margin-block-start: 8px; }

.photograf__links_list--about {
  margin-block-start: 24px; }

.photograf__link {
  color: rgba(0, 0, 0, 0.5); }

.photograf__link--home {
  color: black;
  font-weight: bold; }

.photograf__date_navigation {
  margin-block-start: 75px;
  margin-block-end: 23px; }

.photograf__date_list {
  display: flex;
  flex-direction: row; }

.woman,
.passage {
  max-width: 77px;
  max-height: 48px;
  border-radius: 5px; }

.photograf__content {
  margin-inline-start: 32px; }

.photograf__taste_description,
.photograf__experience_place {
  color: rgba(0, 0, 0, 0.5); }

.photograf__date_list--place {
  margin-block-start: 16px; }

.photograf__date {
  font-size: 12px;
  font-weight: 700; }

.photograf__copyright {
  margin-block-start: 16px;
  color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid lightgray;
  padding: 16px; }

.photograf__writer {
  margin-block-start: 0px; }

@media (min-width: 900px) {
  .footer {
    padding-block-start: 72px; }
  .footer > * {
    max-width: 1170px;
    margin-inline-start: auto;
    margin-inline-end: auto; }
  .photograf {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0; }
  .photograf__container {
    max-width: 256px; }
  .photograf__links_navigation {
    margin-inline-start: 48px;
    margin-block-start: 16px; }
  .photograf__date_navigation {
    margin-block-start: 28px; }
  .photograf__links_list:nth-of-type(1) {
    margin-block-start: -10px; }
  .photograf__date_list--taste {
    margin-block-start: -20px; }
  .photograf__copyright {
    display: flex;
    justify-content: space-between;
    padding: 80px; }
  .photograf__writer,
  .photograf__reliesed_year {
    margin-block-start: -50px; } }
