html {
  background-color: whitesmoke; }

h2 {
  font-size: 54px; }

h3 {
  font-size: 40px; }

ul {
  list-style: none;
  padding: 0; }

p {
  font-size: 18px; }

small {
  font-size: 16px; }

footer {
  background-color: white; }

a {
  text-decoration: none; }

.masthead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #434CCC;
  padding-inline: 14px;
  padding-block-start: 32px;
  padding-block-end: 16px; }

.masthead__header {
  margin: 0;
  text-transform: uppercase;
  color: #ffffff;
  margin-block-start: -10px; }

.masthead__label_menu {
  color: transparent;
  margin-inline-end: -48px; }

.masthead__label_menu::before {
  content: url("../icons/icon_menu.svg");
  margin-inline-end: 16px; }

.masthead__navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -250px;
  width: 200px;
  z-index: 1;
  background-color: dodgerblue; }

.masthead__list_item {
  margin-block-start: 16px;
  margin-inline-start: 32px; }

.masthead__link {
  text-decoration: none;
  color: gray; }

[type="checkbox"] {
  display: none; }

[type="checkbox"]:checked ~ .masthead__navigation {
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  width: 200px;
  z-index: 1;
  background-color: skyblue;
  transform: translateX(0); }

.beauty {
  padding: 16px; }

.beauty__header {
  display: flex;
  flex-direction: column-reverse; }

.beauty__portfolio_link::before {
  content: url("../icons/icon_arrow_left.svg");
  margin-inline-end: 16px; }

.beauty__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5); }

.beauty__content {
  margin-block-end: 82px; }

.beauty__figure {
  margin: 0; }

.beauty__image {
  max-width: 100%;
  border-radius: 5px; }

.beauty__images_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 16px;
  column-gap: 16px;
  grid-row-gap: 16px;
  row-gap: 16px; }

.beauty__image--ripples_half {
  height: 100px; }

.beauty__figure--rock_carving_md {
  grid-row: 1 / 2;
  grid-column: 1 / 6; }

.beauty__figure--rock_carving_sm {
  grid-row: 2 / 3;
  grid-column: 1 / 3; }

.beauty__figure--stairs_sm {
  grid-row: 2 / 3;
  grid-column: 3 / 5; }

.beauty__figure--ripples_half {
  grid-row: 2 / 3;
  grid-column: 5 / 6; }

.beauty__image--ripple_sm,
.beauty__image--dunes_sm,
.beauty__image--arches_sm,
.beauty__image--sunset_sm,
.beauty__image--canyon_sm {
  display: none; }

.beauty__navigation {
  margin-block-start: 92px; }

.beauty__information_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 48px;
  column-gap: 48px; }

.beauty__list_item p:nth-of-type(1) {
  color: rgba(0, 0, 0, 0.5); }

.beauty__list_item p:nth-of-type(2) {
  font-weight: bold; }

.beauty__list_item--date {
  grid-row: 1 / 2;
  grid-column: 1 / 2; }

.beauty__list_item--location {
  grid-row: 1 / 2;
  grid-column: 2 / 3; }

.beauty__list_item--camera {
  grid-row: 2 / 3;
  grid-column: 1 / 2; }

.beauty__list_item--lens {
  grid-row: 2 / 3;
  grid-column: 2 / 3; }

@media (max-width: 400px) {
  .beauty__image--ripples_half {
    height: 77px; } }

.carve {
  padding: 16px; }

.carve__information {
  margin-block-start: 0;
  margin-block-end: 32px; }

.carve__small_text {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5); }

.carve__navigation_container {
  margin-block-start: 30px;
  display: flex; }

.carve__list_item:not(:nth-of-type(1)) {
  margin-inline-start: 10px; }

.updating {
  background-color: goldenrod;
  padding: 16px; }

.container {
  display: flex;
  flex-direction: column-reverse; }

.updating__heading {
  margin-block-start: 0; }

.updating__category {
  margin-block-start: 47px;
  text-transform: uppercase; }

.form_container {
  display: flex;
  flex-direction: column; }

label {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold; }

#email {
  margin-block-start: 16px;
  padding: 12px;
  border-radius: 5px;
  border: none; }

.updating__subscribe_bttn {
  margin-block-start: 16px;
  padding-inline: 48px;
  padding-block: 16px;
  border-radius: 5px;
  color: white;
  background-color: blue;
  border: none;
  margin-block-end: 38px; }

.paragraf {
  padding: 16px; }

.paragraf__heading {
  font-size: 24px;
  text-transform: uppercase;
  margin-block-start: 43px; }

.paragraf__information {
  color: rgba(0, 0, 0, 0.5); }

.paragraf__navigation_container {
  display: flex; }

.paragraf__list_item {
  margin-block-start: 16px; }

.paragraf__list_item:not(.paragraf__list_item--facebook) {
  margin-inline-start: 10px; }

.paragraf__links_navigation {
  margin-block-start: 62px; }

.paragraf__links_list:not(.paragraf__links_list--about) {
  margin-block-start: 16px; }

.paragraf__links_list--about {
  margin-block-start: 24px; }

.paragraf__link {
  color: rgba(0, 0, 0, 0.5); }

.paragraf__link--home {
  color: black;
  font-weight: bold; }

.paragraf__date_navigation {
  margin-block-start: 77px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

.paragraf__date_list {
  display: flex;
  flex-direction: row; }

.woman,
.passage {
  max-width: 77px;
  max-height: 48px;
  border-radius: 5px; }

.paragraf__content {
  margin-inline-start: 32px; }

.paragraf__taste_description,
.paragraf__experience_place {
  color: rgba(0, 0, 0, 0.5); }

.paragraf__date_list--place {
  margin-block-start: 16px;
  margin-block-end: 53px; }

.paragraf__date {
  font-size: 12px;
  font-weight: bold; }

.paragraf__copyright {
  margin-block-start: 32px;
  color: rgba(0, 0, 0, 0.5); }
