ul {
  list-style: none;
  padding: 0; }

.masthead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #434CCC;
  padding-inline: 14px;
  padding-block-start: 32px;
  padding-block-end: 16px; }

.masthead__header {
  margin: 0;
  text-transform: uppercase;
  color: black;
  margin-block-start: -10px; }

.masthead__label_menu {
  color: transparent;
  margin-inline-end: -48px; }

.masthead__label_menu::before {
  content: url("../icons/icon_menu.svg");
  margin-inline-end: 16px; }

.masthead__navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -250px;
  width: 200px;
  z-index: 1;
  background-color: skyblue; }

.masthead__list_item {
  margin-block-start: 16px; }

.masthead__link {
  text-decoration: none;
  color: gray; }

[type="checkbox"] {
  display: none; }

[type="checkbox"]:checked ~ .masthead__navigation {
  position: absolute;
  top: 8px;
  bottom: 0;
  left: 0;
  width: 200px;
  z-index: 1;
  background-color: skyblue;
  transform: translateX(0); }

.beauty {
  padding: 16px; }

.beauty__header {
  display: flex;
  flex-direction: column-reverse; }

.beauty__heading {
  font-size: 54px; }

.beauty__portfolio_link::before {
  content: url("../icons/icon_arrow_left.svg");
  margin-inline-end: 16px; }

.beauty__link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5); }

.beauty__content {
  margin-block-end: 82px; }

.beauty__figure {
  margin: 0; }

.beauty__image {
  max-width: 100%;
  border-radius: 5px; }

.beauty__images_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 16px;
  column-gap: 16px;
  grid-row-gap: 16px;
  row-gap: 16px; }

.beauty__image--ripples_half {
  height: 100px; }

.beauty__figure--rock_carving_md {
  grid-row: 1 / 2;
  grid-column: 1 / 6; }

.beauty__figure--rock_carving_sm {
  grid-row: 2 / 3;
  grid-column: 1 / 3; }

.beauty__figure--stairs_sm {
  grid-row: 2 / 3;
  grid-column: 3 / 5; }

.beauty__figure--ripples_half {
  grid-row: 2 / 3;
  grid-column: 5 / 6; }

.beauty__image--ripple_sm,
.beauty__image--dunes_sm,
.beauty__image--arches_sm,
.beauty__image--sunset_sm,
.beauty__image--canyon_sm {
  display: none; }

.beauty__navigation {
  margin-block-start: 92px; }

.beauty__information_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 48px;
  column-gap: 48px; }

.beauty__list_item p:nth-of-type(2) {
  font-weight: bold; }

.beauty__list_item--date {
  grid-row: 1 / 2;
  grid-column: 1 / 2; }

.beauty__list_item--location {
  grid-row: 1 / 2;
  grid-column: 2 / 3; }

.beauty__list_item--camera {
  grid-row: 2 / 3;
  grid-column: 1 / 2; }

.beauty__list_item--lens {
  grid-row: 2 / 3;
  grid-column: 2 / 3; }

@media (max-width: 400px) {
  .beauty__image--ripples_half {
    height: 77px; } }
